* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1a191f;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
}

.header__logo {
    font-size: 32px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    /* opacity: 0.8; */
}

.header__search {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    /* opacity: 0.8; */
}


.kinobox__header-content {
    margin-left: 35px;
    margin-top: 20px;
    color: #fff;
    display: inline-block;
}

.film__name {
    
    font-size: 16px;
}

.film_year {
    opacity: 0.8;
    font-size: 14px;
    display: inline-block;
}

.btn__player {
    opacity: 0.4;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    background-color: #fff;
    color: #1a191f;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;  
    margin-left: 10px;      
}

.btn__description {
    
}

.btn__player:hover {
    opacity: 1;
    transition: 0.2s;
}

.kinobox_player {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 20px;
}

.catalogs {
    display: flex;
    justify-content: space-between;
    margin: 15px 30px;
    max-width: 240px;
}

.catalog__button {
    padding: 6px;
    padding-left: 7px;
    padding-right: 7px;

    cursor: pointer;
    color: #1a191f;
    background-color: #ffd80e;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.catalog__button:hover {
    background-color: #fae478;
    transition: 0.2s;
}

.catalog__button:active {
    background-color: #fff;
    transition: 0.2s;
}

.not-selected {
    background-color: #fff; 
    opacity: 0.4;
    
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 240px;
    margin: 10px;
    position: relative;
}

.movie__cover-inner {
    height: 360px;
    position: relative;
}

.movie__cover {
    max-width: 100%;
    height: 100%;
    position: relative;
}

.movie__cover--darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
}

 /* Свойства кнопок Просмотр и Описание на карточке фильма*/

.movie__cover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    padding-left: 85px;
}

.btn__cover {
    display: none;
    position: absolute;
    opacity: 0.9;
    font-weight: bold;
    transition: ease-in-out .1s;
    left: 0;
    width: 240px;
    height: 180px;
    z-index: 1;
}

.move__on {
    padding: 79px;
    padding-bottom: 80;
    background-color: #fff;
    color: #1a191f;
    top: 0;
}

.move__on:hover {
    text-decoration: underline;
    opacity: 0.9;
    font-size: 18px;
    padding: 78px;
    cursor: pointer;
    display: block;
}

.description {
    top: 180px;
    padding: 80px 81px;
    background-color: #ffd80e;
    color: #fff;
    transition: ease-in-out .1s;

}

.description:hover {
    text-decoration: underline;
    font-weight: thin;
    color: #fff;
    opacity: 0.95;
    font-size: 18px;
    padding: 79px 76px;
    cursor: pointer;
    display: block;
}


.visible {
    display: block;
    z-index: 1;
}
/* конец анимации */


.movie__cover-inner:hover  {
    display: block;
    cursor: pointer;
    transition: 0.2s;
}

.movie__info {
    padding: 10px 0px;
}

.movie__title {
    font-size: 16px;
    color: #ffffff;
}

.movie__category {
    font-size: 14px;
    color: #ffd80e;
}

.movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
}

.movie__average--green {
    border: 1px solid green;
}

.movie__average--orange {
    border: 1px solid orange;
}

.movie__average--red {
    border: 1px solid red;
}

.movie__year {
    position: absolute;
    top: 10px;
    left: 200px;
    right: 0;
    border-radius: 20%;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    opacity: 0.8;
    color: #ffffff;
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 2s;
}

.modal--show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__card {
    background-color: #ffffff;
    width: 900px;
    height: 650px;
    padding: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #1a191f;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.modal__movie-backdrop {
    min-width: 50%;
    margin-right: 20px;
}

.modal__movie-container {
    display: flex;
    flex-direction: column;
}

.modal__movie-info {
    margin-left: 20px;
    font-size: 16px;
}

.modal__movie-overview {
    text-align: justify;
    padding-right: 25px;
}

.modal__button-close {
    background-color: grey;
    padding: 10px;
    margin: 10px;
    align-self: center;
    font-weight: bold;
    font-size: 16px;
    border: none;
    transition: solid 0.2s;
    border-radius: 2%;
}

.modal__button-close:hover {
    background-color: #fae478;
    transition: smooth 0.2s;
}

.modal__movie-site {
    color: #fae478
}

.modal__movie-suptitle {
    color: #ffd80e;
}

ul li {
    padding: 5px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
    z-index: -1;
}


.list-pages {
    margin-top: 30px;
}

.pages {
    margin-bottom: 20px;
}

.pages__list {
    display: flex;
    list-style: none;
    justify-content: center;
}


.pages__list-item__link {
    text-decoration: none;
    color: #96957D;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
    transition: ease-in 0.15s;
}

.pages__list-item__link:link {
    text-decoration: none;
    color: #96957D;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}

.pages__list-item__link:hover {
    text-decoration: underline;
    font-size: 20px;
}

.pages__list-item__link:active {
    text-decoration: underline;
    transition: smooth 0.2s;
    font-size: 20px;
    color: #ffd80e;
}

.selected__page {
    text-decoration: underline;
    font-size: 22px;
    color: #ffd80e;
}

.footer {
    text-align: center;
    padding: 30px 0;
    color: #fff;
}

.footer__text {
    color: #fff;
}


/* Адаптив */

@media screen and (max-width: 1231px) {
    .container {
        max-width: 1230px;
    }

    .catalogs {
        margin-left: 15px;
    }
}

@media screen and (max-width: 1040px) {
    .container {
        max-width: 920px;
    }
    .catalogs {
        margin-left: 30px;
    }
}

@media screen and (max-width: 780px) {
    .container {
        max-width: 590px;
    }
}

@media screen and (max-width: 720px) {
    
    .catalogs {
        margin: 15px auto;
    }
    
    .modal__card {
        display: flex;
        flex-direction: column;
        max-height: 90%;
        overflow: auto;

    }
    .modal__movie-backdrop {
        width: 70%;
        margin: 10px auto;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .modal__movie-container h2 {
        text-align: center;
    }
}

@media screen and (max-width: 541px) {
    
    .kinobox__header {
        text-align: center;
    }

    .btn__player {
        width: 50%;
    }


    .kinobox__header-content{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        margin-top: 15px;
    }
}

@media screen and (max-width: 521px) {
    
    .movie__info {
        text-align: center;
    }
}

@media screen and (max-width: 460px) {
    
    .kinobox__header-content{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        margin-top: 15px;
    }

    .btn__player {
        width: 50%;
    }

    .header__logo {
        font-size: 22px;
        margin: 0 auto;
    }
    /* .modal__movie-backdrop::after {
        content: "";
        background-image: url('https://cdn-icons-png.flaticon.com/512/3097/3097659.png');
        position: sticky;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        color: #fff;
        background-repeat: no-repeat;
        transition: 0.2s;
    } */

    .modal__movie-info {
        margin-left: 20px;
        font-size: 14px;
    }
    .modal__movie-container h2 {
        font-size: 20px;
    }
    .modal__button-close {
        padding: 7px;
    }
}

@media screen and (max-width: 401px) {
    .header__logo {
        font-size: 18px;
        margin: 0;
    }

    .header__search {
        width: 80%;
    }
}

@media screen and (max-width: 361px) {
    .header__logo {
        font-size: 16px;
        text-align: center;
    }
}


@media screen and (max-width: 335px) {

    .container {
        max-width: 310px;
    }

    /* .page__over {
        display: none;
        z-index: -10;
        list-style-type: none;
    } */

    ul li {
        list-style: none;
        list-style-type: none;
        padding: 3px;

    }

    .list-pages {
        margin: 0 auto;
        display: flex;
        text-align: center;
        align-items: center;
        width: 214px;
    }

    .pages {
        margin-top: 20px;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    .pages__list-item {
        list-style-type: none;
        padding: 0;
        font-size: 8px;
    }


    .pages__list-item__link {
        font-size: 8px;
        padding: 5px;
    }

    .header__search {
        width: 80%;
    }

}